
.card-containers{
    
    float: left;
    padding: 10px;
    width: max-content;
    display:flex;
    justify-content: space-between;
    padding-right: 20px;
    margin:10px;
    max-width:350px;
    min-width: 250px;
    min-height:82vh;
    overflow-y: scroll;
    box-sizing: content-box;
    
}

.taskLists{
    min-width: 200px;
    max-width: 300px;
    min-height: 10%;
    max-height:20%;
}

div::-webkit-scrollbar {
    width: 2em;
    height: 2em
}