
.card-containers{
    float: left;
    padding: 10px;
    display:flex;
    max-width:350px;
    min-width: 250px;
    min-height:82vh;
    overflow-y: scroll;
    background-color: #021A1E;
    margin:15px;
    margin-right:2px;
    border-radius: 25px;
}

.heading{
    margin:15px;
    margin-right:2px;
    margin-bottom: 0px;
}

.cards{
    padding-top: 4px;
    box-shadow:2px 2px grey;
    min-width: 180px;
    max-width: 220px;
    background-color: #2C7873;
}


.taskLists{
    min-width: 200px;
    max-width: 300px;
    min-height: 10%;
    max-height:20%;
    margin-top:7px;
}

.cards :hover{
    border-color: rgb(43, 217, 223);
    transform: translateY(2px);
    border: 1px solid transparent;
    transition: all .3s;
}

div::-webkit-scrollbar {
    width: 2em;
    height: 2em
}