<div class="contain" cdkDropListGroup style="width: 100%;">
  <div class="card-containers">
    <mat-list>
      <h3 mat-subheader style="color:azure;">Enque</h3>
       <mat-list-item *ngFor="let task of Todos" class="taskLists" cdkDropList  id="Todos" (onclick)="test(task)" [cdkDropListData]="task" [cdkDropListConnectedTo]="[inProgress]" >
        <mat-card  class="cards" >
          <mat-card-title>
            <span> {{task.feature}}</span>
          </mat-card-title>
          <mat-card-content>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </mat-list-item>      
    </mat-list>           
  </div>
  <div class="card-containers">
    <mat-list>
      <h3 mat-subheader style="color:azure;" >In Progress</h3>
      <mat-list-item *ngFor="let task of inProgress" class="taskLists" cdkDropList id="inProgress"   [cdkDropListData]="task" [cdkDropListConnectedTo]="[Todos]">
        <mat-card class="cards"  >
          <mat-card-title>
            {{task.feature}}
          </mat-card-title>
          <mat-card-content>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="card-containers">
    <mat-list>
      <h3 mat-subheader style="color:azure;">Deployed on Dev</h3>
      <mat-list-item *ngFor="let task of deployedOnDev" class="taskLists">
        <mat-card class="cards">
          <mat-card-title>
            {{task.feature}}
          </mat-card-title>
          <mat-card-content>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>      
  <div class="card-containers">
    <mat-list>
      <h3 mat-subheader style="color:azure;">QA In Progress</h3>
      <mat-list-item *ngFor="let task of qaInProgress" class="taskLists">
        <mat-card class="cards">
          <mat-card-title>
            {{task.feature}}
          </mat-card-title>
          <mat-card-content>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>      
  <div class="card-containers">
    <mat-list>
      <h3 mat-subheader style="color:azure;">Waiting Deployment</h3>
      <mat-list-item *ngFor="let task of waitingDeployment" class="taskLists">
        <mat-card class="cards">
          <mat-card-title>
            {{task.feature}}
          </mat-card-title>
          <mat-card-content>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
</div>

