/* You can add global styles to this file, and also import other style files */
.container{
    height: 82vh;
}
.content {
    width:100%;
}

.contain{
    width:100%;
    overflow-y: hidden;
}


.sideNav{
    width:180px;
}

.body{
    background-color: rgba(241, 241, 235, 0.733);
}