/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
    height: 88vh;
}
.content {
    width:100%;
    overflow:hidden;
}

.contain{
    width:max-content;
    overflow-y: hidden;
}
body{
    background-color: #6FB98F;
    overflow: hidden;
}

.sideNav{
    width:180px;
}

.body{
    background-color: rgba(135, 95, 145, 0.733);
}