/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
    height: 88vh;
}
.content {
    width:100%;
    overflow:hidden;
    background-color: #6FB98F;
}

.container{
    background-color: #6FB98F;
}
.contain{
    width:max-content;
    overflow-y: hidden;
    background-color: #6FB98F;
}
body{
    background-color: #6FB98F;
    overflow: hidden;
}

.header{
    background-color: #6FB98F;
}
.sideNav{
    width:180px;
    background-color: #6FB98F;
    border-radius: 25px;    
}

body{
    background-color: #6FB98F;
}